<script>
  var percentage = 0.0;
  var total = 0.0;
  var sharing = 0.0;
  var percentage;
  var total;
  var sharing;

  function process() {
    amount = document.getElementById("amount").value;
    tip = document.getElementById("tip").value;
    people = document.getElementById("people").value;
    choice = document.getElementById("choice");
    if (amount == "" && tip == "" && people == "") {
      alert("please fill the form");
    } else {
      if (amount == "") {
        alert("please enter the bill amount");
      } else if (tip == "") {
        alert("please enter the tip percentages");
      } else if (people == "") {
        alert("please enter the number of people sharing");
      } else if (choice == "") {
        alert("please select a currency");
      } else if (tip >= 100) {
        alert("tip more than amount");
      } else if (choice.value == "") {
        alert("please enter the currency choice");
      } else {
        percentage = (tip / 100) * amount;
        total = percentage + parseInt(amount);
        sharing = total / people;
        sharing = Math.max(0, sharing);
        var arr = [];
        arr.push(
          "<table class='table' style='color:white;font-size:20px'><thead class='thead-dark'><tr><th scope='col'>TIP(%)</th><th scopr='col'>TIP AMOUNT</th></tr></thead>"
        );
        for (var i = 5; i <= 50; i += 5) {
          p = (i / 100) * amount;
          arr.push(
            "<tr><td>" +
              i +
              "percent</td><td>" +
              choice.value +
              " " +
              p +
              "</td></tr>"
          );
        }
        arr.push("</table>");
        document.getElementById("entry").innerHTML = arr.join("");

        var one = document.getElementById("one");
        var two = document.getElementById("two");
        var three = document.getElementById("three");
        one.innerHTML = choice.value + " " + percentage;
        two.innerHTML = choice.value + " " + total;
        three.innerHTML = choice.value + " " + sharing;
        alert("please scroll down for answer");
      }
    }
  }
</script>
